.sideGame{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 0;
    margin-bottom: 20px;
    padding: 15px;
    background-color: rgb(236, 236, 236);
    border-radius: 15%;
    box-shadow: 7px 6px 10px -9px rgba(0,0,0,0.75);
    border: 2px solid rgb(116, 116, 116);
    transition: all 0.2s ease-in;
}

.gameClock{
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.sideGame:hover {
    background-color: rgb(255, 255, 255);
}

.sideGame p{
    margin-bottom: 0;

}

.teamLogo{
    width: 36px;
    height: 36px;
}

.teamOne{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 45%;
    font-size: larger;
    font-weight: 600;
}

.teamOne img{
    margin-right: auto;
}

.teamTwo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 45%;
    font-size: larger;
    font-weight: 600;
}

.teamTwo img{
    margin-left: auto;
}

.scoreHead{
    text-align: center;
    font-weight: 500;
    padding-top: 10px;
}
.scoreBox{
    padding: 0;
    padding-right: 10px;
    padding-left: 10px;
    border-left: 3px solid rgb(107, 107, 107);
}